[user]
	name = BrennickL
	email = brennick.sci@gmail.com

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  ca = checkout -a
  cb = checkout -b
  df = diff
  lg = log -p
  po = push origin
[push]
	default = simple
[core]
	excludesfile = /Users/brennicklangston/.gitignore_global
[commit]
	gpgsign = false
[gpg]
	program = gpg
[pull]
	rebase = false
[init]
	defaultBranch = master
