[user]
	name = BrennickL
	email = brennick.sci@gmail.com

[alias]
  ci = commit
  br = branch
  co = checkout
  ca = checkout -a
  cb = checkout -b
  df = diff
  lg = log -p
  po = push origin
  st = status -s
[push]
	default = simple
[core]
	excludesfile = /Users/brennicklangston/.gitignore_global
	pager = delta
[commit]
	gpgsign = false
[gpg]
	program = gpg
[pull]
	rebase = true
[init]
	defaultBranch = master
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	light = true
[merge]
	conflictstyle = diff3
	tool = nvimdiff
[diff]
	colorMoved = default
	tool = nvimdiff
[difftool]
	prompt = false
