[user]
	name = Brennick Langston
	email = brennick.langston@verisys.com
	signingkey = 07E4967C0DE7A3DC

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  ca = checkout -a
  cb = checkout -b
  df = diff
  lg = log -p
  po = push origin
[push]
	default = simple
[core]
	excludesfile = /Users/brennicklangston/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	program = gpg
